.mod-search {
  position: relative;
  background: white;
}

.mod-search:after {
  content: "";
  display: block;
  clear: both;
}

.mod-search .form-group {
  margin-bottom: 0;
}

.mod-search .mod-search-input-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
  margin-right: -40px;
  float: left;
  width: 100%;
}

.mod-search .mod-search-submit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -5000px;
  background: #0b0c0c url(../images/search-button.png) no-repeat 2px 50%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.mod-search .mod-search-submit:hover {
  background-color: #171919;
}

.mod-search .mod-search-submit:focus {
  z-index: 15;
  position: relative;
}

.mod-search .mod-search-input {
  position: relative;
  z-index: 10;
  background: transparent url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0;
  border: 2px solid #0b0c0c;
  outline-offset: 0;
  border-width: 2px 0 2px 2px;
}

.mod-search .mod-search-input:focus, .mod-search .mod-search-input.focus {
  background: white;
}
